<div class="row m-5">
    <div class="col text-white">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Personaje</th>
                    <th scope="col">Caracteristicas</th>
                </tr>
            </thead>
            <tbody class="text-white">
                <tr>
                    <th scope="row ">Nombre</th>
                    <td>{{ people.name }}</td>
                </tr>
                <tr>
                    <th scope="row ">Estatura</th>
                    <td>{{ people.height }}</td>
                </tr>
                <tr>
                    <th scope="row ">Peso</th>
                    <td>{{ people.mass }}</td>
                </tr>
                <tr>
                    <th scope="row ">Color de cabello</th>
                    <td>{{ people.hair_color }}</td>
                </tr>
                <tr>
                    <th scope="row ">Color de piel</th>
                    <td>{{ people.skin_color }}</td>
                </tr>
                <tr>
                    <th scope="row ">Color de ojos</th>
                    <td>{{ people.eye_color }}</td>
                </tr>
                <tr>
                    <th scope="row ">Cumpleaños</th>
                    <td>{{ people.birth_year}}</td>
                </tr>
                <tr>
                    <th scope="row ">Genero</th>
                    <td>{{ people.gender }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>