<!-- <div class="card-columns">
    <div class="card" *ngFor="let film of films">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ film.title }}</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
</div> -->


<div class="container m-5">
    <div class="row">
        <div class="col">

            <table class="table table-striped table-bordered table-hover  table-sm">
                <tr class="bg-dark text-white">
                    <th>Pelicula</th>
                    <th>Episodio</th>
                    <th>Trailer</th>
                    <th>Director</th>
                    <th>Productor</th>
                    <th>Fecha de estreno</th>
                    <th>Personajes</th>
                </tr>

                <tbody>
                    <tr *ngFor="let film of films">
                        <td> {{ film.title }} </td>
                        <td> {{ film.episode_id }} </td>
                        <td> {{ film.opening_crawl }} </td>
                        <td> {{ film.director }} </td>
                        <td> {{ film.producer }} </td>
                        <td> {{ film.release_date }} </td>
                        <td class="col-">
                            <a (click)="getPeople( carac )" *ngFor="let carac of film.characters" class="badge badge-primary puntero">{{ carac }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>