<div class="container-fluid" id="vehicle">
    <h1 class="mt-5 text-white" *ngIf="vehicle">
        {{ vehicle.name }}
        <small class="text-muted"> | Nave </small>
    </h1>
    <h6 class="blockquote-footer">Detalles</h6>
    <hr>
    <div class="row" *ngIf="vehicle">
        <div class="col-lg-8">
            <a class="img-preview d-block shadow-lg rounded mb-4">
                <img src="{{ service.getImageById( vehicle.url, 'vehicles') }}" onerror="this.src='assets/img/No_picture_available.png'" class="card-img-top border" alt="{{ vehicle.name }}">
            </a>
            
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                    <h5 class="m-0">Modelo</h5>
                    <hr>
                    {{ vehicle.model }}
                </div>
            </div>
            
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                    <h5 class="m-0">Detalles</h5>
                    <hr>
                    <ul class="mb-0">
                        <li>Vehicle Class: {{ vehicle.vehicle_class }}</li>
                        <li>Manufacturer: {{ vehicle.manufacturer }}</li>
                        <li *ngIf="vehicle.cost_in_credits !== 'unknown'">Cost in credits: {{ vehicle.cost_in_credits | number }}</li>
                        <li>Length: {{ vehicle.length | number }}</li>
                        <li>Max atmosphering Speed: {{ vehicle.max_atmosphering_speed }}</li>
                        <li>Crew: {{ vehicle.crew | number }}</li>
                        <li>Passengers: {{ vehicle.passengers | number }}</li>
                        <li>Cargo capacity: {{ vehicle.cargo_capacity | number }}</li>
                        <li>Consumables: {{ vehicle.consumables }}</li>
                        <li>Created: {{ vehicle.created | date }}</li>
                        <li>Edited: {{ vehicle.edited | date }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
                
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                    <h5 class="m-0">Películas</h5>
                    <hr>
                    <ul *ngIf="films.length > 0">
                        <li *ngFor="let film of films">
                            {{ film.title }}
                        </li>
                    </ul>
                    <p *ngIf="films.length === 0">No hay películas relacionadas</p>
                </div>
            </div>
                
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                    <h5 class="m-0">Pilotos</h5>
                    <hr>
                    <ul *ngIf="pilots.length > 0">
                        <li *ngFor="let pilot of pilots">
                            {{ pilot.name }}
                        </li>
                    </ul>
                    <p *ngIf="pilots.length === 0">No hay pilotos relacionados</p>
                </div>
            </div>
        </div>
    </div>
</div>